@model IEnumerable<EvGurmesiMVC.Models.Menu>
@{
    ViewBag.Title = "MenuEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!doctype html>
<html lang="en">
<head>
    <title>Table 06</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/table-06/css/style.css">

</head>
<body>

            <div class="row justify-content-center">
            </div>
            <div class="row justify-content-center">
                <div class="col-md-12">

                                
                    <form method="post" class="form-group">
                                <div class="pl-3 ">
                                    <input type="text" placeholder="Menü ismini giriniz..." class="enjoy-css-input" name="MenuAd" />
                                </div>
                        <div class="col-md-12"><button type="submit" class="btn btn-success">Ekle</button></div>
                    </form>
                                
                    
                </div>
                
            </div>


    <script src="~/table-06/js/jquery.min.js"></script>
    <script src="~/table-06/js/popper.js"></script>
    <script src="~/table-06/js/bootstrap.min.js"></script>
    <script src="~/table-06/js/main.js"></script>

</body>
</html>

